body {
  --denim: #191E23;
  --orange: #FFA100;
  --spruce: #232D39;
  --slate: #303439;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--denim);
  color: white;
  text-decoration: none;
  font-family: Red Hat Display;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./assets/fonts/RedHatDisplay-VariableFont_wght.ttf")
}

@font-face {
  font-family: "Red Hat Display Italic";
  src: url("./assets/fonts/RedHatDisplay-Italic-VariableFont_wght.ttf")
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
